.search-results {
  display: flex;
  justify-content: center;
}
.search-results div {
  text-align: center;
  padding: 0.5vw 3vw;
  width: 30vw;
}

.searchbar input {
  width: 30vw;
  padding: 0.7vw 3vw;
  border-radius: 10px;
  border: none;
}
.searchbar input::placeholder {
  text-align: center;
}
