.boat-form h2 {
  text-align: center;
}
.boat-form {
  display: flex;
  justify-content: center;
  align-items: center;
}
.boat-form input,
select {
  width: 20vw;
}
.boat-form button {
  width: 15vw;
}

.add-boat-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vw;
}
