.all-reservations {
  margin: 2.5rem 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}
.all-reservations article {
  margin: 2.5rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2vw;
  width: 90vw;
}
